.cart-container{
    position: absolute;
    background-color: white;
    height: 325px;
    width: 100%;
    max-width: 400px;
    top: 100px;
    z-index: 2000;
    left: 50%;
    transform: translate(-50%,0);
    display: none;
}
.cart-header{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 2rem;
}
.empty-cart{
    text-align: center;
}
.cart-info-container{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.cart-product-image{
    width: 50px;
}
.show{
    display:  block ;
}
.delete{
    transform: scale(1.5);
    margin-left: 2rem;
}
.cart-detailed-container{
    display: flex;
    align-items: center;
}
.count-info{
    margin: 0 0.5rem;
}
.count-info div{
    margin:0.25rem 0;
}
.empty{
    font-size: 1.5rem;
}
@media screen and (min-width:800px) {

    .cart-container{
        position: absolute;
        top: 50px;
        width: 350px;
        height: 250px;
        left: 90%;
        border: 1px solid black;
        transform: translate(-90%,0);
    }


}